# MongoDB
# Для локальной разработки: mongodb://localhost:27017
# Для MongoDB Atlas: mongodb+srv://user:pass@cluster.mongodb.net
MONGODB_URI=mongodb://mongo:27017
MONGODB_DB=land_plots

# Jina API (для семантического реранкинга при поиске)
JINA_API_KEY=