__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
venv/
.venv/
.env

node_modules/
.dist/
dist/
build/

.DS_Store
Thumbs.db

.vscode/
.claude

*.log


.mypy_cache/
.pytest_cache/

coverage/

.idea/

.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sqlite3

